/*div[class="row"] {*/
    /*border: 1px dotted rgba(0, 0, 0, 0.5);*/
/*}*/

/*div[class^="col-"] {*/
    /*background-color: rgba(255, 0, 0, 0.2);*/
/*}*/



.serverForms input {
    width: 200px;
    vertical-align: middle;
    margin-right: 30px;
    text-align: left;
}

.serverForms label {
    width: 80px;
    vertical-align: middle;
}

.smallIndent {
    padding: 15px;
}

.max {
    max-width: 100%;
}

label > input {
    /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

label > input + img {
    /* IMAGE STYLES */
    cursor: pointer;
    border: 2px solid transparent;
}

label > input:checked + img {
    /* (RADIO CHECKED) IMAGE STYLES */
    border: 2px solid #f00;
}

.stats input {
    width: 30px;
    vertical-align: middle;
    margin-right: 30px;
    text-align: end;
}

.stats label {
    width: 80px;
    vertical-align: middle;
}

.stats .modifierLabel {
    width: 80px;
    vertical-align: middle;
    padding-left: 20px;
}

.stats .saveLabel {
    width: 100px;
    vertical-align: middle;
}

.luckyRoll {
    font-size: .75em;
    line-height: 10%;
}


.statOuter {
     background-color: #512C73;
     border-radius: 25px;
     padding: 8px;
     width: 160px;
     margin: 10px;
 }

.statInner{
    background-color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 8px;
    width: 160px;
    color: black;
}

.statInner input
{
    border: none;
    border-color: transparent;
    background: transparent;
    color: black;
}

.critOuter {
    background-color: #512C73;
    border-radius: 25px;
    padding: 8px;
    width: 260px;
    margin: 10px;
}

.critInner{
    background-color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 8px;
    width: 260px;
    color: black;
}

.critInner input
{
    border: none;
    border-color: transparent;
    background: transparent;
    width:50px;
}

.critInner .action input
{
    border: none;
    border-color: transparent;
    background: transparent;
    font-size: 7pt;
}

.savingthrowOuter{
    background-color: #512C73;
     border-radius: 25px;
     padding: 8px;
     margin: 10px;
     width: 180px;
     color: #9277AC;
     font-size: 0.9em;
}

.savingthrowOuter input{
    color: #000000;
    background-color: #9277AC;
    border-radius: 50%;
    border-color: transparent;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.meleeBonusOuter{ background-color: #512C73;
    border-radius: 25px;
    padding: 8px;
    margin: 10px;
    width: 180px;
    color: #9277AC;
    font-size: 0.9em;
}

.meleeBonusOuter input{
    color: #000000;
    background-color: #9277AC;
    border-radius: 50%;
    border-color: transparent;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 5px;

}

.meleeBonusOuter label{
    width: 100px;
}

.startingEquipment {
    font-size: 0.8em;
}


.titleName {
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 5px;
    width: auto;
    padding-right:10px;
    text-align: center;
}

.headerSection
{
    padding: 8px;
}

.topSection{
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 5px;
    width: auto;
}

.topSection label {
    width: 85px;
    padding: 8px;
}

.topSection input{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 75px;
}

.topSection .occupation input {
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 200px;
}

.startingOuter {
    background-color: #512C73;
    border-radius: 25px;
    padding: 8px;
    width: 270px;
    margin: 10px;
}

.startingInner{
    background-color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 8px;
    width: 270px;
    color: black;
}

.startingInner input
{
    border: none;
    border-color: transparent;
    background: transparent;
    width: 110px;
    text-align: left;
    font-size: 0.9em;
}

.startingInner label
{
    width:75px;
    margin-right: 5px;
}

textarea {
   color: black;
    background-color: #9277AC;
    width:100%;
}

.lowerSection{
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 15px;
    margin: 5px;
    width: auto;
}

.statInner input:disabled{
    color:#20043A;
}

.critInner input:disabled{
    color:#20043A;
}

.startingInner input:disabled{
    color:#20043A;
}

.topSection input:disabled{
    color:#9377AC;
}

.lowerSection input:disabled{
    color:#20043A;
}

.savingthrowOuter input:disabled{
    color:#20043A;
}

.meleeBonusOuter input:disabled{
    color:#20043A;
}

.lowerSection textarea:disabled{
    color:#20043A;
    width:100%;
}

.weapons table{
    width:100%;
}

.armor table{
    width:100%;
}

.thiefOuter{
    background-color: #512C73;
    border-radius: 25px;
    padding: 8px;
    margin: 10px;
    width: 180px;
    color: #9277AC;
    font-size: 0.9em;
}

.thiefOuter input{
    color: #000000;
    background-color: #9277AC;
    border-radius: 50%;
    border-color: transparent;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.thiefOuter label{
    width: 100px;
}

.wizardTop{
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 5px;
    width: auto;
}

.wizardTop label {
    width: 85px;
    padding: 8px;
}

.wizardTop input{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 75px;
}

.wizardTop .corruption input {
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 150px;
}

.wizardTop .spellCheck label{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 100px;
}

.wizardTop .currentSpellCastingLevel label{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 190px;
}

.wizardTop .currentSpellCastingLevel input {
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 20px;
}

.wizardTop .spellsKnown label{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 190px;
}

.wizardTop .spellsKnown input {
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 20px;
}

.wizardTop .maximumSpellCastingLevel label{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 220px;
}

.wizardTop .maximumSpellCastingLevel input {
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 20px;
}

.wizardLower{
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 15px;
    margin: 5px;
    width: auto;
}

.warriorTop{
     background-color: #512C73;
     color: #9277AC;
     border-radius: 25px;
     padding: 8px;
     margin: 5px;
     width: 250px;
 }

.warriorTop label {
    width: 120px;
    padding: 8px;
}

.warriorTop input{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 75px;
}

.dwarfTop{
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 5px;
    width: 250px;
}

.dwarfTop label {
    width: 120px;
    padding: 8px;
}

.dwarfTop input{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 75px;
}

.halflingTop{
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 5px;
    width: 250px;
}

.halflingTop label {
    width: 175px;
    padding: 8px;
}

.halflingTop input{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 75px;
}

.clericTop{
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 5px;
    width: auto;
}

.clericTop .deity label {
    width: 50px;
    padding: 8px;
}

.clericTop .spellCheck label {
    width: 100px;
    padding: 8px;
}

.clericTop .maximumSpellLevel label {
    width: 165px;
    padding: 8px;
}


.clericTop input{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 75px;
}

.clericLower{
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 15px;
    margin: 5px;
    width: auto;
}

.elfTop{
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 5px;
    width: auto;
}

.elfTop label {
    width: 85px;
    padding: 8px;
}

.elfTop input{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 75px;
}

.elfTop .corruption input {
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 150px;
}

.elfTop .spellCheck label{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 100px;
}

.elfTop .currentSpellCastingLevel label{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 190px;
}

.elfTop .currentSpellCastingLevel input {
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 20px;
}

.elfTop .spellsKnown label{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 190px;
}

.elfTop .spellsKnown input {
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 20px;
}

.elfTop .maximumSpellCastingLevel label{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 220px;
}

.elfTop .maximumSpellCastingLevel input {
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 20px;
}

.elfTop .luckySpell label{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 100px;
}

.elfTop .luckySpell input {
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 100px;
}

.elfLower{
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 15px;
    margin: 5px;
    width: auto;
}