/*div[class="row"] {*/
    /*border: 1px dotted rgba(0, 0, 0, 0.5);*/
/*}*/

/*div[class^="col-"] {*/
    /*background-color: rgba(255, 0, 0, 0.2);*/
/*}*/



.serverForms input {
    width: 200px;
    vertical-align: middle;
    margin-right: 30px;
    text-align: left;
}

.serverForms label {
    width: 80px;
    vertical-align: middle;
}

.smallIndent {
    padding: 15px;
}

.max {
    max-width: 100%;
}

label > input {
    /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

label > input + img {
    /* IMAGE STYLES */
    cursor: pointer;
    border: 2px solid transparent;
}

label > input:checked + img {
    /* (RADIO CHECKED) IMAGE STYLES */
    border: 2px solid #f00;
}

.stats input {
    width: 30px;
    vertical-align: middle;
    margin-right: 30px;
    text-align: end;
}

.stats label {
    width: 80px;
    vertical-align: middle;
}

.stats .modifierLabel {
    width: 80px;
    vertical-align: middle;
    padding-left: 20px;
}

.stats .saveLabel {
    width: 110px;
    vertical-align: middle;
}


.statOuter {
     background-color: #512C73;
     border-radius: 25px;
     padding: 8px;
     width: 200px;
     margin: 10px;
 }

.statInner{
    background-color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 8px;
    width: 200px;
    color: black;
}

.statInner input
{
    border: none;
    border-color: transparent;
    background: transparent;
    color: black;
}

.critOuter {
    background-color: #512C73;
    border-radius: 25px;
    padding: 8px;
    width: 260px;
    margin: 10px;
}

.critInner{
    background-color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 8px;
    width: 260px;
    color: black;
}

.critInner input
{
    border: none;
    border-color: transparent;
    background: transparent;
    width:50px;
}

.critInner .action input
{
    border: none;
    border-color: transparent;
    background: transparent;
    font-size: 7pt;
}

.savingthrowOuter{ background-color: #512C73;
     border-radius: 25px;
     padding: 8px;
     margin: 10px;
     width: 200px;
     color: #9277AC;}

.savingthrowOuter input{
    color: #000000;
    background-color: #9277AC;
    border-radius: 50%;
    border-color: transparent;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.meleeBonusOuter{ background-color: #512C73;
    border-radius: 25px;
    padding: 8px;
    margin: 10px;
    width: 200px;
    color: #9277AC;
}

.meleeBonusOuter input{
    color: #000000;
    background-color: #9277AC;
    border-radius: 50%;
    border-color: transparent;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 5px;

}

.meleeBonusOuter label{
    width: 100px;

}

.titleName {
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 5px;
    width: auto;
    padding-right:10px;
    text-align: center;
}

.headerSection
{
    padding: 8px;
}

.topSection{
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 5px;
    width: auto;
}

.topSection label {
    width: 85px;
    padding: 8px;
}

.topSection input{
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 75px;
}

.topSection .occupation input {
    border-color: transparent;
    background-color: transparent;
    text-align: left;
    width: 200px;
}

.startingOuter {
    background-color: #512C73;
    border-radius: 25px;
    padding: 8px;
    width: 275px;
    margin: 10px;
}

.startingInner{
    background-color: #9277AC;
    border-radius: 25px;
    padding: 8px;
    margin: 8px;
    width: 275px;
    color: black;
}

.startingInner input
{
    border: none;
    border-color: transparent;
    background: transparent;
    width:100px;
}

.startingInner label
{

    width:75px;
}

textarea {
   color: black;
    background-color: #9277AC;

}

.lowerSection{
    background-color: #512C73;
    color: #9277AC;
    border-radius: 25px;
    padding: 15px;
    margin: 5px;
    width: auto;
}

.statInner input:disabled{
    color:#20043A;
}

.critInner input:disabled{
    color:#20043A;
}

.startingInner input:disabled{
    color:#20043A;
}

.topSection input:disabled{
    color:#9377AC;
}

.lowerSection input:disabled{
    color:#20043A;
}

.savingthrowOuter input:disabled{
    color:#20043A;
}

.meleeBonusOuter input:disabled{
    color:#20043A;
}

.lowerSection textarea:disabled{
    color:#20043A;
}