<div class="smallIndent">
    <label for="patrons">Paton(s):</label> <input id="patrons" ng-model="hero.classSpecific.patron" type="text"
                                                  placeholder="patron(s)"><br>
    <label for="familiar">Familiar:</label> <input id="familiar" ng-model="hero.classSpecific.familiar" type="text"
                                                   placeholder="familiar"> <br>
    <label for="corruption">Corruption:</label> <input id="corruption" ng-model="hero.classSpecific.corruption" type="text"
                                                       placeholder="corruption"> <br>
    <label>Spell Check:</label> {{ hero.classSpecific.spellCheck }}<br>
    <label>Can cast up to spell level:</label> {{ hero.classSpecific.currentSpellCastingLevel }}<br>
    <label>Number of Spells Known:</label> {{ hero.classSpecific.spellsKnown }}<br>
    <label>Maximum Spell Casting Level:</label> {{ hero.classSpecific.maximumSpellCastingLevel }}<br>
    <label for="luckySpell">Lucky Spell:</label> <input id="luckySpell" ng-model="character.luckySpell" type="text"
                                                        placeholder="lucky spell">


</div>