<div class="smallIndent">
    <label>Lucky die:</label> d{{ hero.classSpecific.luckyDie }}<br>
    <label>Backstab:</label> {{ hero.classSpecific.backstab }}<br>
    <label>Sneak Silently:</label> {{ hero.classSpecific.sneakSilently }}<br>
    <label>Hide In Shadows:</label> {{ hero.classSpecific.hideInShadows }}<br>
    <label>Pick Pocket:</label> {{ hero.classSpecific.pickPocket }}<br>
    <label>Climb Sheer Surfaces:</label> {{ hero.classSpecific.climbSheerSurfaces }}<br>
    <label>Pick Lock:</label> {{ hero.classSpecific.pickLock }}<br>
    <label>Find Trap:</label> {{ hero.classSpecific.findTrap }}<br>
    <label>Disable Trap:</label> {{ hero.classSpecific.disableTrap }}<br>
    <label>Forge Document:</label> {{ hero.classSpecific.forgeDocument }}<br>
    <label>Disguise Self:</label> {{ hero.classSpecific.disguiseSelf }}<br>
    <label>Read Languages:</label> {{ hero.classSpecific.readLanguages }}<br>
    <label>Handle Poison:</label> {{ hero.classSpecific.handlePoison }}<br>
    <label>Cast Spell From Scroll:</label> d{{ hero.classSpecific.castSpellFromScroll }}
</div>