<div class="smallIndent">
    <label for="patrons">Paton(s):</label>
    <input id="patrons" ng-model="hero.classSpecific.patron" type="text"
           placeholder="patron(s)"><br>
    <label for="familiar">Familiar:</label>
    <input id="familiar" ng-model="hero.classSpecific.familiar" type="text"
           placeholder="familiar"> <br>
    <label for="corruption">Corruption:</label>
    <input id="corruption" ng-model="hero.classSpecific.corruption" type="text"
           placeholder="corruption"> <br>
    <label>Spell Check:</label> {{ hero.classSpecific.spellCheck }}<br>
    <label>Can cast up to spell level:</label> {{ hero.classSpecific.currentSpellCastingLevel }}<br>
    <label>Number of Spells Known:</label> {{ hero.classSpecific.spellsKnown }}<br>
    <label>Maximum Spell Casting Level:</label> {{ hero.classSpecific.maximumSpellCastingLevel }}


    <div ng-hide="blockEdit">
        <select ng-model="wizardSpellLevel" ng-options="l.name for l in  hero.classSpecific.listOfPossibleSpells"></select>
        <select ng-model="wizardSpell" ng-options="s.name for s in wizardSpellLevel.spells"></select>
            <a  id="addSpell" class="btn btn-primary btn-xs" data-ng-click="addSpell(wizardSpellLevel.name, wizardSpell.name)">Add</a>
    </div>

    <div>
        <table class="table-striped table-condensed">
            <th>Spell Name</th>
            <th>Spell Level</th>
            <th>Spell Check</th>
            <th>Mercurial Effect</th>
            <tr ng-repeat="x in hero.classSpecific.spellList track by $index">
                <td>{{ x.spell }}</td>
                <td>{{ x.level }}</td>
                <td>{{ x.spellChecks }}</td>
                <td>{{ x.mercurial }}</td>
                <td><a class="btn btn-primary btn-xs" href="" ng-click="deleteSpellRow($index)">Remove</a></td>
            </tr>
        </table>
    </div>
</div>