<section data-ng-controller="HeroController" data-ng-init="findOne()" class="smallIndent">
    <!-- Character Name-->
    <h2>{{ hero.characterName}} the {{ hero.title }}</h2>

    <!-- Character Class, level, speed, initiative,  etc -->
    <div class="container heropicker">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <label for="charLevel">Level:</label>
                <input id="charLevel" ng-model="hero.level" type="text" ng-disabled="true">
            </div>
            <div class="col-md-4 col-sm-4">
                <label for="charClass">Class:</label>
                <input id="charClass" ng-model="hero.charClass" type="text" ng-disabled="true">
            </div>
            <div class="col-md-4 col-sm-4">
                <label for="charAlignment">Alignment:</label>
                <input id="charAlignment" ng-model="hero.alignment" type="text" ng-disabled="true">
            </div>
            <div class="col-md-4 col-sm-4">
                <label for="occupation">Occupation:</label>
                <input id="occupation" ng-model="hero.occupation.occupation" type="text" ng-disabled="true">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-4">
                <label for="charSpeed">Speed:</label>
                <input id="charSpeed" ng-model="hero.speed" type="text" ng-disabled="true">
            </div>
            <div class="col-md-6 col-sm-4">
                <label for="charInitiative">Initiative:</label>
                <input id="charInitiative" ng-model="hero.initiative" type="text" ng-disabled="true">
            </div>
        </div>
    </div>

    <!-- Character crits and bonuses-->
    <div class="container bonuses">
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <label for="critTable">Crit Table:</label>
                <input id="critTable" ng-model="hero.critTable" type="text" ng-disabled="true">
            </div>

            <div class="col-md-2 col-sm-4">
                <label for="critDie">Crit Die:</label>
                <input id="critDie" ng-model="hero.critDie" type="text" ng-disabled="true">
            </div>

            <div class="col-md-2 col-sm-4">
                <label for="attackBonus">Attack Bonus:</label>
                <input id="attackBonus" ng-model="hero.attackBonus" type="text" ng-disabled="true">
            </div>

            <div class="col-md-2 col-sm-4">
                <label for="actionDie">Action Die:</label>
                <input id="actionDie" ng-model="hero.actionDie" type="text" ng-disabled="true">
            </div>

            <div class="col-md-2 col-sm-4">
                <label for="meleeAttack">Melee Bonus:</label>
                <input id="meleeAttack" ng-model="hero.meleeBonus" type="text" ng-disabled="true">
            </div>

            <div class="col-md-2 col-sm-4">
                <label for="missileAttack">Missile Bonus:</label>
                <input id="missileAttack" ng-model="hero.missileBonus" type="text" ng-disabled="true">
            </div>
        </div>
    </div>


    <!-- Character ability scores and saving throws-->
    <div class="container stats">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="strenghtScore">Strength:</label>
                            <input id="strenghtScore"
                                   ng-model="hero.charAbilities.strength.score"
                                   type="text" ng-disabled=true>
                        </div>
                    </div>
                    <div class="row small">
                        <div class="col-xs-12 ">
                            <label for="strengthModifier" class="modifierLabel">Modifier:</label>
                            <input id="strengthModifier" ng-model="hero.charAbilities.strength.modifier" type="text"
                                   ng-disabled=true>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <label for="agilityScore">Agility:</label>
                            <input id="agilityScore"
                                   ng-model="hero.charAbilities.agility.score"
                                   type="text" ng-disabled=true>
                        </div>
                    </div>
                    <div class="row small">
                        <div class="col-xs-12 ">
                            <label for="agilityModifier" class="modifierLabel">Modifier:</label>
                            <input id="agilityModifier" ng-model="hero.charAbilities.agility.modifier" type="text"
                                   ng-disabled=true>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 ">
                            <label for="staminaScore">Stamina:</label>
                            <input id="staminaScore"
                                   ng-model="hero.charAbilities.stamina.score"
                                   type="text" ng-disabled=true>
                        </div>
                    </div>
                    <div class="row small">
                        <div class="col-xs-12 ">
                            <label for="staminaModifier" class="modifierLabel">Modifier:</label>
                            <input id="staminaModifier" ng-model="hero.charAbilities.stamina.modifier" type="text"
                                   ng-disabled=true>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 ">
                            <label for="personalityScore">Personality:</label>
                            <input id="personalityScore"
                                   ng-model="hero.charAbilities.personality.score"
                                   type="text" ng-disabled=true>
                        </div>
                    </div>
                    <div class="row small">
                        <div class="col-xs-12 ">
                            <label for="personalityModifier" class="modifierLabel">Modifier:</label>
                            <input id="personalityModifier" ng-model="hero.charAbilities.personality.modifier"
                                   type="text"
                                   ng-disabled=true>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 ">
                            <label for="luckScore">Luck:</label>
                            <input id="luckScore"
                                   ng-model="hero.charAbilities.luck.score"
                                   type="text" ng-disabled=true>
                        </div>
                    </div>
                    <div class="row small">
                        <div class="col-xs-12 ">
                            <label for="luckModifier" class="modifierLabel">Modifier:</label>
                            <input id="luckModifier" ng-model="hero.charAbilities.luck.modifier" type="text"
                                   ng-disabled=true>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 ">
                            <label for="intelligenceScore">Intelligence:</label>
                            <input id="intelligenceScore"
                                   ng-model="hero.charAbilities.intelligence.score"
                                   type="text" ng-disabled=true>
                        </div>
                    </div>
                    <div class="row small">
                        <div class="col-xs-12 ">
                            <label for="intelligenceModifier" class="modifierLabel">Modifier:</label>
                            <input id="intelligenceModifier" ng-model="hero.charAbilities.intelligence.modifier"
                                   type="text"
                                   ng-disabled=true>
                        </div>
                    </div>
                    <div class="row small">
                        <div class="col-xs-12 ">
                            <label>Lucky Roll:</label> {{ hero.charAbilities.luckyRoll.name }}
                        </div>
                    </div>
                    <br>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="reflexSave" class="saveLabel">Reflex Save:</label>
                                <input id="reflexSave"
                                       ng-model="hero.charAbilities.reflexSave"
                                       type="text" ng-disabled=true>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <label for="fortitudeSave" class="saveLabel">Fortitude Save:</label>
                                <input id="fortitudeSave" ng-model="hero.charAbilities.fortitudeSave"
                                       type="text"
                                       ng-disabled=true>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <label for="willpowerSave" class="saveLabel">Willpower Save:</label>
                                <input id="willpowerSave" ng-model="hero.charAbilities.willPowerSave"
                                       type="text"
                                       ng-disabled=true>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Starting Equipment-->
    <div class="container starting">
        <div class="row">
            <div class="col-md-6 col-sm-4">
                <label for="startingWeapon">Starting Weapon:</label>
                <input id="startingWeapon" ng-model="hero.occupation.startingWeapon" type="text" ng-disabled="true">
            </div>

            <div class="col-md-6 col-sm-4">
                <label for="startingEquipment">Starting Equipment:</label>
                <input id="startingEquipment" ng-model="hero.occupation.equipment" type="text" ng-disabled="true">
            </div>
        </div>
    </div>
    <warrior-specific></warrior-specific>
</section>