<section class="smallIndent">
    <h3>Update: May 1, 2016</h3>
    <p>Spring is here, which means coding time goes way down. I've got a lengthy list of complicated things
    that will have to wait until cold weather when I'm spending more time indoors. So, for now I'm just concentrating
    on making sure core calculations are correct.</p>

    <p>With that in mind, I've updated the spell calculations for Cleric classes, and updated the UI so that
    it only shows available spells based on character level and personality score.</p>

    <hr />
    <h3>Update: March 26, 2016</h3>
    <p>Added armor class calculations to the sheets. When the sheet is in edit mode and
    you're adding armor to the character, you'll see a column marked 'equip'. Clicking this
    let's the app know that not only does the character possess that armor, but he's going
    to be wearing it.</p>

    <p>When you save the character sheet, it'll calculate a new armor class based on the equipped
    armor plus any agility modifiers.</p>

    <p>Also squashed other reported bugs and layout issues. Keep the feedback coming!</p>

    <hr />

    <h2>Hello!</h2>

    <p>Welcome to the beta of my DCC Character Creator. This is a fan project and is in no way officially associated with Goodman Games (though they are quite fine peoples). </p>

    <p>This app will let you generate characters from levels 1-10. On generation, the characters are saved to a database. Hurray character permanence! When you view your character you can edit levels, stats, alignments, equipment, and most of the normal things that would happen during an adventure. As you make these edits, things will recalculate as needed (saving throws, titles, spells checks, etc). You can also output all that as a PDF! </p>

    <p>Being a beta, there are still some quirks to work out. Leveling up, and changing certain stats will auto-recalculate hit points and languages. While in edit mode you can go fill in your own values for this so it'll accurately reflect what should be seen. You'll just need to make sure you make a note of those original values before they get auto-calculated out of existence.</p>

    <p>One final note, since this is being hosted across a number of free services, sometimes the database goes to sleep. So don't panic if you log in and don't see your characters. The data is there, the database can just be groggy and needs the coffee to kick in when woken up. Just give it a minute and try logging in again.</p>

    <p><a href="mailto:dccccfeedback@gmail.com?Subject=dcccc%20bug%20report" target="_top">Feedback</a> - find a bug? Something not calculating correctly? Drop me a line! Screenshots and/or detailed steps to reproduce the bug is a natural 20 help roll!</p>
</section>