<!DOCTYPE html>
<html>
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A character creator for the DCC RPG">
	<meta name="author" content="Chris Gohlinghorst">

	<!-- Bootstrap -->
	<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<!-- Bootstrap sortable table css -->
	<link href="lib/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet">

</head>
<body style="padding-top: 60px;">
	    <%- include partials/authnavbar.ejs %>
	<!-- Render based on authentication -->
	<% if (user) { %>
		<section ng-view></section>
		<% } else { %>
    	<!-- Jumbotron -->
	<div class="jumbotron">
      <div class="container">
        <h1>Hail, adventurer!</h1>
		<div class=row">       
		<div class="col-md-6"> <p>Here you can create and store characters from levels 1 - 10. Just register and you can begin creating heroes that will die horribly.</p>
	<p><a class="btn btn-primary btn-lg" href="/register" role="button">Register</a></p>
		</div>
		<div class="col-md-6">
			<p>Already registered? The power of character creation, storage, and retreival is but one login away!</p>
        <p><a class="btn btn-primary btn-lg" href="/signin" role="button">Login</a></p>
		</div>	
	 </div>
     </div>
    </div>		
	<% } %>


	<!-- Render the user object -->
	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>
	
	<!-- Load local libraries -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
		<script type="text/javascript" src='/lib/jquery/dist/jquery.min.js'></script>
		<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- libs for Bootstrap tables -->
		<script type="text/javascript" src="/lib/bootstrap-table/dist/bootstrap-table.js"></script>


		<!-- user authentication -->
		<script type="text/javascript" src="/users/users.client.module.js"></script>
		<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

		<!--Load the heropicker module -->
		<script type="text/javascript" src="/heropicker/heropicker.client.module.js"></script>
		<script type="text/javascript" src="/heropicker/config/heropicker.client.routes.js"></script>
		<script type="text/javascript" src="/heropicker/controllers/heropicker.client.controller.js"></script>
		<script type="text/javascript" src="/heropicker/services/heropicker.client.service.js"></script>

		<!-- Load the heroviewer module -->
		<script type="text/javascript" src="/heroviewer/heroviewer.client.module.js"></script>
		<script type="text/javascript" src="/heroviewer/config/heroviewer.client.routes.js"></script>
		<script type="text/javascript" src="/heroviewer/directives/hero-warrior.client.directive.js"></script>


		<!-- Load the motd module -->
		<script type="text/javascript" src="/motd/motd.client.module.js"></script>
		<script type="text/javascript" src="/motd/config/motd.client.routes.js"></script>

		<!--load the hero module -->
		<script type="text/javascript" src="/hero/hero.client.module.js"></script>
		<script type="text/javascript" src="/hero/controllers/hero.client.controller.js"></script>
		<script type="text/javascript" src="/hero/services/hero.client.service.js"></script>
		<script type="text/javascript" src="/hero/config/hero.client.routes.js"></script>
		<script type="text/javascript" src="/hero/cleric.js"></script>
		<script type="text/javascript" src="/hero/dwarf.js"></script>
		<script type="text/javascript" src="/hero/elf.js"></script>
		<script type="text/javascript" src="/hero/halfling.js"></script>
		<script type="text/javascript" src="/hero/thief.js"></script>
		<script type="text/javascript" src="/hero/warrior.js"></script>
		<script type="text/javascript" src="/hero/wizard.js"></script>


		<script>
			$(document).ready(function () {
				$('[data-toggle="tooltip"]').tooltip();
			});
		</script>

		<!-- Bootstrap AngularJS application -->
	<script type="text/javascript" src="/application.js"></script>
</body>
</html>
