<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A character creator for the DCC RPG">
	<meta name="author" content="Chris Gohlinghorst">

	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
	<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">

</head>
<body style="padding-top: 60px;" >
	    <%- include partials/authnavbar.ejs %>	  

	<!-- Render the signin form  -->
	<div>
	<form action="/signin" method="post" class="smallIndent">
		<div class="serverForms">
			<label>Email:</label>
			<input type="text" name="username" />
		<br>
			<label>Password	:</label>
			<input type="password" name="password" />
		<br>
            <br>
			<button class="btn btn-success" type="submit" value="Sign In">Sign In</button>
		</div>
	</form>
	</div>
	
 	<!-- Display flash messages  -->
        <% for(var i in messages) { %>
           <div style="padding: 15px;" class="flash"><%= messages[i] %></div>
        <% } %>
</body>
</html>

